################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Amazon/bin/Debug
/src/Amazon/bin/Debug/Amazon.dll.mdb
/src/Amazon/bin/Debug/Xamarin.Forms.Core.dll
/src/Amazon/bin/Debug/Xamarin.Forms.Core.xml
/src/Amazon/bin/Debug/Xamarin.Forms.Xaml.dll
/src/Amazon/bin/Debug/Xamarin.Forms.Xaml.xml
/src/Amazon/obj/Debug
/packages
/src/Amazon.iOS/obj/iPhoneSimulator/Debug
/src/packages
/src/Amazon.sln.DotSettings.user
/src/Amazon.iOS/Amazon.iOS.csproj.user
